{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                招聘信息列表
            </div>
            <div class="panel-body">
                <form method="get" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control" placeholder="搜索职位..." value="{{ search_query }}">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
            </div>
        </div>

        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/job/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                添加新职位
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                职位列表
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>职位名称</th>
                    <th>公司名称</th>
                    <th>薪资</th>
                    <th>职位类型</th>
                    <th>所属部门</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.id }}</td>
                        <td>{{ job.title }}</td>
                        <td>{{ job.company }}</td>
                        <td>{{ job.salarys }}</td>
                        <td>{{ job.get_job_type_display }}</td>
                        <td>{{ job.dept }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/job/edit/{{ job.id }}/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/job/delete/{{ job.id }}/" onclick="return confirm('确定要删除吗？');">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>
{% endblock %}