{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                添加职位
            </div>
            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-success">提交</button>
                    <a href="/job/list/" class="btn btn-default">返回列表</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}