{% extends 'userlayout.html' %}

{% block content %}
    <div class="container">
        <h3>个人信息</h3>
        <table class="table">
            <tr>
                <th>姓名</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>性别</th>
                <td>{{ user.gender|yesno:"男,女" }}</td>
            </tr>
            <tr>
                <th>年龄</th>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <th>账户余额</th>
                <td>￥{{ user.account }}</td>
            </tr>
            <tr>
                <th>入职时间</th>
                <td>{{ user.create_time }}</td>
            </tr>
            <tr>
                <th>密码</th>
                <td>****** (安全保护)</td>
            </tr>
        </table>
        <!-- <a href="/user/edit_profile/" class="btn btn-primary">编辑个人信息</a> -->
    </div>
{% endblock %}
